#black-layer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 666;
}

#right-click-menu {
    position: absolute;
    width: 375px;
    background-color: rgba(0, 0, 0, 0.85) !important;
    box-shadow: 0px 0px 50px black !important;
    z-index: 888;
    color: whitesmoke;
}

#right-click-menu > p {
    font-size: 10px;
    padding-left: 1em;
}


#right-click-menu > div {
    padding: 1em;
    font-size: 14px;
}

#right-click-menu .item {
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#right-click-menu .item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4444447e;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#right-click-menu .item:hover, #right-click-menu .item:focus, #right-click-menu .item:active {
    color: white;
}
#right-click-menu .item:hover:before, #right-click-menu .item:focus:before, #right-click-menu .item:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.multi-option div {
    display: inline-block;
}

.option-container {
    margin-left: 1em;
}

.option-container button {
    cursor: pointer;
    background-color: #444444;
    color: azure;
    border: none;
}